<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kouqiang"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- com.tencent.weibo。demo 中的 WeiBoAPIV1Activity 和 WeiBoAPIV2Activity 在测试上传带图片微博使用 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.kouqiang.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.kouqiang.HomeActivity"
            				android:label="@string/app_name"
            				android:theme="@style/CustomTitle"></activity>
        <activity android:name="com.example.kouqiang.ContentActivity"
            				android:label="@string/app_name"
            				android:theme="@style/CustomTitle"></activity>
        <activity android:name="com.example.kouqiang.WeiBoActivity"
            				android:label="@string/app_name"
            				android:theme="@style/CustomTitle"></activity>
        
        <!-- OAuth Version 1.0 使用 WebView 辅助授权必须 -->
        <activity
            android:name="com.tencent.weibo.webview.OAuthV1AuthorizeWebView"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
